@charset "utf-8";
/* CSS Document */

nav
{
	width: 100%;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: rgba(41,41,41,0.54);
	clear: left;
	margin-top: 0px;
}
nav ul
{
	
}
nav ul li 
{
	display: inline-block;
	margin-left: 9%;
	margin-right: 7%;
}
nav ul li a
{
	text-decoration: none;
	font-family: Arial;
	font-size: 20px;
	color: white;
	padding: 5px 50%;
}
nav ul li a:hover
{
	color: black;
	cursor: pointer;
	background-color: white;
	border-radius: 5px;
	transition: background 0.75s;
}