@charset "utf-8";
/* CSS Document */

.container {
	
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	background-color: transparent;
	box-shadow: none;
	text-shadow: none;
}
.placeholder {
	/* [disabled]max-width: 400px;
*/
	/* [disabled]max-height: 200px;
*/
	width: 100px;
	padding-top: 0px;
	/* [disabled]padding-right: 19px;
*/
	padding-bottom: 0px;
	height: 100px;
}
.title {
	font-weight: bold;
	font-style: normal;
	font-family: Lobster, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	text-align: center;
	color: white;
	letter-spacing: 1px;
	
}
.secondary_header {
	width: 100%;
	padding-top: 3px;
	padding-bottom: 10px;
	background-color: #B3B3B3;
	clear: left;
}
.container .secondary_header ul {
	margin-top: 0%;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	width: 100%;
}
.secondary_header ul li {
	list-style: none;
	float: left;
	margin-right: auto;
	margin-top: 0px;
	font-family: "Source Sans Pro";
	font-weight: normal;
	color: #FFFFFF;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: center;
	width: 16%;
	transition: all 0.3s linear;
}
.secondary_header ul li:hover {
	color: #717070;
	cursor: pointer;
}
.left_article {
	background-color: #FFFFFF;
	width: 0%;
	float: left;
	font-family: "Source Sans Pro";
	color: #343434;
	padding-bottom: 0px;
	
}
